<!DOCTYPE html>
<html>
<head>
    <title>D3 Graphics</title>
    <link rel="stylesheet" href="static/base.css">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<div class="container">
        <h2>D3 Graphics</h2>
        <section id="chart">
            <div class="item">Dimitar Dimitrov</div>
            <div class="item">Boris Penev</div>
            <div class="item">Angel Ignatov</div>
            <div class="item">Nikola Nikolov</div>
            <div class="item">Teodor Marionov</div>
            <div class="item">Ceco Ivanov</div>

        </section>
</div>
<script src="static/d3.min.js"></script>
<script src="static/script.js"></script>
</body>
</html>