{% extends 'home.html' %}
{% block scripts %}



<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
{% endblock %}
  {% block styles %}
    <style>
        .container {
            width: 100%;
        }

        .alert {
            display: inline-block;
        }
    </style>
{% endblock %}
</head>
<div class="container">
    <body>
    {% block navbar %}
        {{ super() }}
        {% block error_messages %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  <div class="container">
                    <ul class=flashes>
                        {% for category, message in messages %}
                            <div class="alert alert-danger" role="alert">
                                <li class="{{ category }}">{{ message }}</li>
                            </div>
                          </div>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        {% endblock %}
        <div class="container">
            <div class="header">
                <h3 class="text-muted">How To Upload a Text File</h3>

                <p>To upload a text file click the <b>"Choose file"</b> button and select a file from your computer. The
                    should be a ".txt" file and should look like this for example: </p>

                <!--Taken from Stackoverflow answer: http://stackoverflow.com/questions/819416/adjust-width-height-of-iframe-to-fit-with-content-in-it -->
                <script language="JavaScript">
                    <!--
                    function autoResize(id) {
                        var newheight;
                        var newwidth;

                        if (document.getElementById) {
                            newheight = document.getElementById(id).contentWindow.document.body.scrollHeight;
                            newwidth = document.getElementById(id).contentWindow.document.body.scrollWidth;
                        }

                        document.getElementById(id).height = (newheight) + "px";
                        document.getElementById(id).width = (newwidth) + "px";
                    }
                    //-->
                </script>

                <iframe src="http://homepages.inf.ed.ac.uk/s1245947/static/treebank_data.txt" width="100%" height="200px" id="iframe1" marginheight="0"
                        frameborder="0" onLoad="autoResize('iframe1');"></iframe>
                <br>
                  <p>
                   <b>Note that the spacing between the coulmns should be a tabulation.</b>
                  </p>
                <p> This is the structure which NLTK uses to represent the grammar needed to
                    create the dependency graph object. More information on how the process is done can be found <a href="http://www.nltk.org/howto/dependency.html">here</a>.</p>

              </div>
            <hr/>
            <div>

                <form action="uploaded" method="post" enctype="multipart/form-data">
                    <input type="file" name="file"><br/><br/>
                    <input type="submit" value="Upload">
                </form>
            </div>
        </div>
        </body>
        </div>
        </html>
    {% endblock %}
{% block content %}
{% endblock %}
